body {
    background-color: #3B4252;

  }
  
  h1 {
    color: #EBCB8B;
    text-align: center;
  }
  
  p {
    font-family: JetBrainsMono;
    font-size: 20px;
    color: #EBCB8B;
    text-align:center;
  }