body {
    background-color: #3B4252;
    text-align: center;
  }
  
  h1 {
    color: #EBCB8B;
    text-align: center;
  }
  
  p {
    font-family: JetBrainsMono;
    font-size: 18px;
    color: #B48EAD;
    text-align:center;
  }
  
  a {
    font-family: JetBrainsMono;
    font-size: 20px;
    text-align:center;
    color: #81A1C1;
  }
  